**/node_modules
**/.next
**/dist
**/build
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env*
**/.DS_Store
.git
documentation/
android-installer/
backup-db/
scripts/iam/
scripts/test_scripts/
docker-compose.yml
Dockerfile.backend
.agent/
.gemini/
.vscode/
