# Node modules (usually not needed in repo)
node_modules
.next
.expo
dist
.env
.env.local
.env.production
documentation/
*.log

/generated/prisma
.vercel
.env*.local

# Local Test/Audit/Helper Scripts
audit_*.js
test_*.js
*.jpg
*.png
!public/**/*.png
!public/**/*.jpg
!public/**/*.webp
!public/**/*.svg
